@keyframes button_outline { 0% { outline-color: white;
    outline-offset: 5px; }
  100% { outline-color: #5402fa;
    outline-offset: -5px; } }

* { box-sizing: border-box; margin: 0; padding: 0; font-family: 'Poppins', sans-serif; }

header { height: 100vh; }

header button { transition: all .1s linear; }

header button:hover { transform: scale(0.975); cursor: pointer; }

header nav { height: 17.5vh; display: flex; justify-content: space-around; background-color: #fef7ff; }

header nav :is(.logo_container, .links_container, .login_button_container) { display: flex; align-items: center; }

header nav .logo_container img { object-fit: contain; height: 50%; }

header nav .links_container ul { list-style: none; display: flex; }

header nav .links_container ul li { border-right: 3px solid #6a1dff; }

header nav .links_container ul li a { margin: 0 1vw; text-decoration: none; color: black; padding: 0 1em; }

header nav .links_container ul li:last-child { border: none; }

header nav .login_button_container { padding: 0 1em; }

header nav .login_button_container button { background-image: linear-gradient(38deg, #5e1bfa, #5402fa); color: #e0d9af; min-width: 7.5vw; padding: .5em 1em; font-size: 1em; border-radius: 5px; font-weight: 600; border: none; }

header section.header { height: 82.5vh; display: grid; grid-template-columns: 5vw 1fr 1fr 5vw; grid-template-rows: 10% 10% 1fr 10% 10%; }

header section.header button { border-radius: 45.45455px; padding: 0.5em 1em; border: none; }

header section.header .content_section { padding: 3em; grid-column: 2/3; grid-row: 2/5; display: flex; justify-content: space-between; flex-direction: column; }

header section.header .content_section > button:first-of-type { width: 50%; background-color: #7532fd; color: #ffe9bf; text-transform: uppercase; }

header section.header .content_section h1 { font-size: 2.25564em; font-weight: 500; text-transform: capitalize; }

header section.header .content_section h1 span { display: block; font-weight: 600; font-size: 2em; color: #5402fa; }

header section.header .content_section p { font-size: 0.9009em; line-height: 2em; }

header section.header .content_section .btn_call_to_action_container { display: flex; justify-content: space-around; }

header section.header .content_section .btn_call_to_action_container button { padding: 0.8em 1em; width: 40%; font-weight: 600; }

header section.header .content_section .btn_call_to_action_container button:first-of-type { border: 2px solid #6a1dff; background-color: transparent; }

header section.header .content_section .btn_call_to_action_container button:nth-of-type(2) { background-color: #6a1dff; color: #ffe8bb; }

header section.header .image_section { grid-column: 3/4; grid-row: 1/6; display: flex; justify-content: center; align-items: flex-end; background-image: url("../Images/header_background.jpg"); background-size: cover; }

header section.header .image_section img { height: 90%; }

section.services { min-height: 50vh; text-align: center; position: relative; padding: 1em 0; background-color: #fef7ff; }

section.services h1 { font-size: 3em; margin: 1em; }

section.services hr { height: 2px; width: 10%; background-image: linear-gradient(35deg, #bb9eff, #3e3eff); position: absolute; border: none; }

section.services hr:first-of-type { right: 48.5%; top: 23%; }

section.services hr:nth-of-type(2) { left: 48.5%; top: 26%; }

section.services > p:first-of-type { margin: 0.66667em auto 3em; width: 40%; text-align: center; font-size: 1.09091em; font-weight: 500; }

section.services .card_container { display: grid; grid-template-columns: 5vw repeat(3, 1fr) 5vw; column-gap: 1em; }

section.services .card_container .card { border-radius: 5px; padding: 1em 1em; margin: 1vh 0; display: flex; flex-direction: column; align-items: flex-start; box-shadow: 1px 1px 5px 1px lightgray; transition: all .25s linear; background-color: white; min-height: 40vh; max-height: 45vh; }

section.services .card_container .card:hover { transform: scale(1.05); }

section.services .card_container .card:hover h2, section.services .card_container .card:hover a { color: #6a1dff; }

section.services .card_container .card:first-of-type { grid-column: 2/3; }

section.services .card_container .card h2 { margin: 1em 0 0.2em; }

section.services .card_container .card p { text-align: left; margin: 0.5em 0 2em; font-size: 0.9009em; font-weight: 400; }

section.services .card_container .card a { text-decoration: none; font-weight: 500; }

section.services .card_container .card a i { font-size: 0.75em; }

section.users { padding: 2em 0; max-height: 70vh; display: grid; grid-template-columns: 10vw 30vw 10vw 40vw 1fr; }

section.users .section_users_image_container { grid-column: 2/3; display: flex; justify-content: center; align-items: center; position: relative; }

section.users .section_users_image_container > img { height: 100%; width: 100%; object-fit: cover; border-radius: 5px; }

section.users .section_users_image_container .users_profiles_with_pictures { background: #6a1dff; padding: 1em; border-radius: 5px; display: flex; flex-direction: column; align-items: center; position: absolute; right: -25%; top: 45%; width: 15vw; }

section.users .section_users_image_container .users_profiles_with_pictures .pictures_container { display: flex; margin: 1em 0; }

section.users .section_users_image_container .users_profiles_with_pictures .pictures_container .badge { background-color: white; height: 65px; width: 65px; border-radius: 50%; box-shadow: 1px 1px 5px 1px rgba(211, 211, 211, 0.301); display: flex; justify-content: center; align-items: center; overflow: hidden; }

section.users .section_users_image_container .users_profiles_with_pictures .pictures_container .badge:nth-of-type(1) { transform: translateX(40%); z-index: 3; }

section.users .section_users_image_container .users_profiles_with_pictures .pictures_container .badge:nth-of-type(2) { transform: translateX(20%); z-index: 2; }

section.users .section_users_image_container .users_profiles_with_pictures .pictures_container .badge:nth-of-type(3) { transform: translateX(0%); z-index: 1; }

section.users .section_users_image_container .users_profiles_with_pictures .pictures_container .badge:nth-of-type(4) { transform: translateX(-40%); }

section.users .section_users_image_container .users_profiles_with_pictures .pictures_container img { height: 100%; width: 100%; object-fit: cover; object-position: top; }

section.users .section_users_image_container .users_profiles_with_pictures h3 { color: white; }

section.users .sections_users_text_container { grid-column: 4/5; display: flex; flex-direction: column; justify-content: center; }

section.users .sections_users_text_container > * { margin: 0.66667em 0; }

section.users .sections_users_text_container span { color: white; background: linear-gradient(45deg, #6a1dff, #5402fa); border-radius: 17.25px; padding: 0.33333em 0.25em; width: 12.5%; text-align: center; font-size: 0.75em; }

section.users .sections_users_text_container a { text-decoration: none; color: white; background: linear-gradient(65deg, #4703d6, #6a1dff); border-radius: 50px; text-align: center; min-width: 15%; width: 20%; padding: 0.44444em 0.8em; font-weight: 300; font-size: 0.9009em; }

section.clients_feedback { background-color: #fef7ff; padding: 1em 0 6em; }

section.clients_feedback h1 { text-align: center; margin: 3em auto; position: relative; font-size: 3em; }

section.clients_feedback h1::before, section.clients_feedback h1::after { content: ""; position: absolute; width: 10vw; height: 2px; background-image: linear-gradient(35deg, #bb9eff, #3e3eff); }

section.clients_feedback h1::before { bottom: -50%; right: 50%; transform: translateX(25%); }

section.clients_feedback h1::after { bottom: -100%; left: 50%; transform: translateX(-25%); }

section.clients_feedback > p { margin: 0.66667em auto 3em; width: 60%; text-align: center; font-size: 1.09091em; font-weight: 400; line-height: 3.33vh; }

section.clients_feedback .container_clients_returns { width: 90vw; margin: auto; display: grid; grid-template-columns: 1fr 2vw 1fr; column-gap: 1vw; }

section.clients_feedback .container_clients_returns div.clients_returns { border: 1px solid black; border-radius: 12px; min-height: 20vh; place-items: center; display: grid; grid-template-columns: repeat(3, 1fr); column-gap: 1vw; padding: 0 0.66667em 0 0; }

section.clients_feedback .container_clients_returns div.clients_returns:first-of-type { grid-column: 1/2; }

section.clients_feedback .container_clients_returns div.clients_returns:nth-of-type(2) { grid-column: 3/4; }

section.clients_feedback .container_clients_returns div.clients_returns .clients_profile { padding: 1em 1em 1em 0; position: relative; }

section.clients_feedback .container_clients_returns div.clients_returns .clients_profile .img_container { width: 60px; height: 60px; border-radius: 50%; display: flex; justify-content: center; align-items: center; overflow: hidden; }

section.clients_feedback .container_clients_returns div.clients_returns .clients_profile .img_container img { object-fit: cover; height: 100%; width: 100%; }

section.clients_feedback .container_clients_returns div.clients_returns .clients_profile::after { content: ""; position: absolute; height: 100%; width: 1px; background-color: black; right: 0; top: 0; }

section.clients_feedback .container_clients_returns div.clients_returns p { grid-column: 2/4; line-height: 3.5vh; font-size: 1em; }

section.stats { height: 60vh; background-image: url("../Images/contact_background.jpg"); background-size: cover; background-position: center 0%; display: flex; justify-content: space-evenly; align-items: center; }

section.stats h1 { color: white; font-size: 2.4em; text-align: center; }

section.stats h1 span { display: block; }

section.pricing { background-color: #fef7ff; padding: 1em 0; }

section.pricing > h1 { text-align: center; margin: 2em auto; position: relative; font-size: 3em; }

section.pricing > h1::before, section.pricing > h1::after { content: ""; position: absolute; width: 10vw; height: 2px; background-image: linear-gradient(35deg, #bb9eff, #3e3eff); }

section.pricing > h1::before { bottom: -50%; right: 50%; transform: translateX(25%); }

section.pricing > h1::after { bottom: -100%; left: 50%; transform: translateX(-25%); }

section.pricing > p { margin: 0.66667em auto 3em; width: 60%; text-align: center; font-size: 1.09091em; font-weight: 500; line-height: 3.33vh; }

section.pricing div.pricing_cards_container { width: 80%; margin: 9em auto 3em; display: flex; justify-content: space-around; min-height: 25vh; max-height: 75vh; }

section.pricing div.pricing_cards_container .card_1 { border: 1px solid black; }

section.pricing div.pricing_cards_container .card_1 button { background-color: #5402fa; color: white; }

section.pricing div.pricing_cards_container .card_1 table tr:nth-of-type(3), section.pricing div.pricing_cards_container .card_1 table tr:nth-of-type(4) { opacity: .33 !important; }

section.pricing div.pricing_cards_container .card_2 { background-color: #6a1dff; }

section.pricing div.pricing_cards_container .card_2 .circle { background-image: linear-gradient(to right, transparent 50%, white 50%); }

section.pricing div.pricing_cards_container .card_2 > *:not(button) { color: white; }

section.pricing div.pricing_cards_container .card_2 button { color: #6a1dff; }

section.pricing div.pricing_cards_container .card_2 table tr td { border-bottom: 1px solid white !important; }

section.pricing div.pricing_cards_container .card_2 table tr td i { color: white !important; }

section.pricing div.pricing_cards_container .card_2 table tr:nth-of-type(4) { opacity: .33; }

section.pricing div.pricing_cards_container .card_3 { border: 1px solid black; }

section.pricing div.pricing_cards_container .card_3 .circle { background-color: #fff; }

section.pricing div.pricing_cards_container .card_3 button { background-color: #5402fa; color: white; }

section.pricing div.pricing_cards_container .pricing_cards { position: relative; border-radius: 15px; display: flex; flex-direction: column; justify-content: space-evenly; align-items: center; width: 25%; min-height: 55vh; padding: 2em; }

section.pricing div.pricing_cards_container .pricing_cards .icon_container { height: 60px; width: 60px; position: absolute; top: 0%; transform: translateY(-50%); border-radius: 5px; background-color: #5402fa; display: flex; justify-content: center; align-items: center; }

section.pricing div.pricing_cards_container .pricing_cards .icon_container .circle { height: 65%; width: 65%; border: 1px solid white; border-radius: 50px; }

section.pricing div.pricing_cards_container .pricing_cards h1 { font-size: 2em; margin-top: 0.8em; }

section.pricing div.pricing_cards_container .pricing_cards h1 span { display: block; font-size: 1.5em; text-align: center; }

section.pricing div.pricing_cards_container .pricing_cards h1 span sup { font-size: 0.3em; }

section.pricing div.pricing_cards_container .pricing_cards > p { font-weight: 600; text-transform: capitalize; margin: 1em 0; }

section.pricing div.pricing_cards_container .pricing_cards button { width: 100%; border-radius: 50px; border: none; padding: 0.4em; font-size: 1.2em; transition: all .25s linear; }

section.pricing div.pricing_cards_container .pricing_cards button:hover { transform: scale(0.95); cursor: pointer; }

section.pricing div.pricing_cards_container .pricing_cards table { width: 85%; }

section.pricing div.pricing_cards_container .pricing_cards table tr td { border-bottom: 1px solid black; padding: 0.66667em 0; text-transform: capitalize; word-spacing: .15vw; font-weight: 500; }

section.pricing div.pricing_cards_container .pricing_cards table tr td i { font-size: 0.75em; margin: 0 .5vw; color: #6a1dff; }

section.partners { height: 33vh; }

section.partners .container { height: 100%; display: flex; justify-content: space-evenly; align-items: center; }

section.partners .container i { font-size: 4em; }

section.contact { min-height: 70vh; background-image: url("../Images/contact_background.jpg"); background-size: cover; background-position: center 30%; padding: 1em; }

section.contact > h1 { text-align: center; margin: 1em auto 2em; position: relative; font-size: 3em; text-transform: capitalize; color: white; }

section.contact > h1::before, section.contact > h1::after { content: ""; position: absolute; width: 7.5vw; height: 2px; background-color: white; }

section.contact > h1::before { bottom: -25%; right: 50%; transform: translateX(25%); }

section.contact > h1::after { bottom: -50%; left: 50%; transform: translateX(-25%); }

section.contact > p { margin: 0.66667em auto 3em; width: 60%; text-align: center; font-size: 1.09091em; font-weight: 500; line-height: 3.33vh; color: white; }

section.contact > p::first-letter { text-transform: uppercase; }

section.contact form { width: 80%; margin: 1em auto; display: grid; grid-template-columns: repeat(3, 1fr); column-gap: 2vw; min-height: 40vh; }

section.contact form .inputs_container input, section.contact form .textarea_container textarea { border: 2px solid whitesmoke; background-color: transparent; color: white; width: 100%; transition: all .2s linear; opacity: 0.6; }

section.contact form .inputs_container input::placeholder, section.contact form .textarea_container textarea::placeholder { text-transform: capitalize; color: white; }

section.contact form .inputs_container input:focus, section.contact form .textarea_container textarea:focus { outline: none; transform: scale(1.033); opacity: 1; }

section.contact form .inputs_container { grid-column: 1/2; padding: 1em; display: flex; flex-direction: column; justify-content: space-between; }

section.contact form .inputs_container input { padding: 0.8em; border-radius: 7.5px; margin-bottom: 1em; }

section.contact form .inputs_container input[type="submit"] { width: 50% !important; background-color: #fff; text-transform: capitalize; font-weight: 600; font-size: 0.9009em; color: #5402fa; padding: 1em 0; opacity: 1; outline: 1px solid transparent; }

section.contact form .inputs_container input[type="submit"]:hover { animation: button_outline .99s alternate linear infinite; }

section.contact form .textarea_container { grid-column: 2/4; padding: 1em; }

section.contact form .textarea_container textarea { height: 100%; padding: 1em 2em; border-radius: 15px; font-size: 1em; }

footer { height: 30vh; display: flex; flex-direction: column; align-items: center; justify-content: space-between; }

footer .main_container { width: 90%; display: grid; grid-template-columns: repeat(4, 1fr); margin-top: 2em; }

footer .main_container .logo_container { grid-column: 1/2; display: flex; flex-direction: column; align-items: center; padding: 1em 0.25em; }

footer .main_container .logo_container img { width: 80%; filter: brightness(5%) blur(0.5px); }

footer .main_container .logo_container p { font-weight: 600; width: 85%; }

footer .main_container .links_container { grid-column: 2/3; display: flex; justify-content: space-around; padding: 1em; }

footer .main_container .links_container div { display: flex; flex-direction: column; }

footer .main_container .links_container div p { font-weight: 700; margin-bottom: 1em; }

footer .main_container .links_container div a { text-decoration: none; font-size: 0.9009em; font-weight: 500; margin: 0.33333em 0; color: black; text-transform: capitalize; }

footer .main_container .subscription_container { grid-column: 3/5; display: flex; flex-direction: column; align-items: center; justify-content: space-evenly; height: 75%; }

footer .main_container .subscription_container h2 { font-weight: 500; font-size: 2em; text-transform: capitalize; }

footer .main_container .subscription_container h2 span { font-weight: bold; }

footer .main_container .subscription_container .subscription { display: flex; width: 80%; }

footer .main_container .subscription_container .subscription input[type="search"], footer .main_container .subscription_container .subscription input[type="submit"] { padding: 1.33333em; }

footer .main_container .subscription_container .subscription input[type="search"]:focus, footer .main_container .subscription_container .subscription input[type="submit"]:focus { outline: none; }

footer .main_container .subscription_container .subscription input[type="search"] { width: 75%; border: 3px solid #6a1dff; border-radius: 15px 0 0 15px; }

footer .main_container .subscription_container .subscription input[type="submit"] { width: 25%; background: #6a1dff; color: white; border: none; border-radius: 0 15px 15px 0; transition: all .15s linear; }

footer .main_container .subscription_container .subscription input[type="submit"]:hover { background: #4703d6; color: #d3ffc8; }

footer .copyright_container { margin: 2em 0; padding-bottom: 2em; }

footer .copyright_container h3 { font-weight: 400; font-size: 1em; }
