// colors
$purple:rgb(81, 42, 172);
$light_purple:lighten($purple,10%);
$darked_purple:darken($purple,10%);
$very_darked_purple:darken($purple,40%);

// border-radius
$light_radius:5px;
$medium_radius:15px;
$strong_radius:50%;