// colors
$purple:rgb(91, 39, 212);
$light_purple:lighten($purple,10%);
$darked_purple:darken($purple,10%);
$very_darked_purple:darken($purple,40%);

// border-radius
$light_radius:5px;
$medium_radius:15px;
$strong_radius:50px;

// padding
$p1:1em;
$p2:2em;
$p3:3em;

// font_size
$font_lg:3em;
$font_xl:4em;
$font_xxl:5em;