// colors
$purple:#6a1dff;
$light_purple:#5402fa;
$darked_purple:#4703d6;
$very_darked_purple:#10012c;
$blanc_casse:rgb(254, 247, 255);

// border-radius
$light_radius:5px;
$medium_radius:15px;
$strong_radius:50px;

// padding
$p1:1em;
$p2:2em;
$p3:3em;

// margin
$m1:1em;
$m2:2em;
$m3:3em;

// font_size
$font_lg:3em;
$font_xl:4em;
$font_xxl:5em;


// keyframes


@keyframes button_outline{
    0%{
        outline-color: white;
        outline-offset: 5px;
    }
    100%{
        outline-color: $light_purple;
        outline-offset: -5px;
    }
}