@import "variables";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

// HEADER
header {

    height: 100vh;

    // all button of the header trannstion on hover

    button {
        transition: all .1s linear;
    }

    button:hover {
        transform: scale(.975);
        cursor: pointer;
    }

    nav {
        height: 17.5vh;
        display: flex;
        justify-content: space-around;
        background-color: $blanc_casse;

        :is(.logo_container, .links_container, .login_button_container) {
            display: flex;
            align-items: center;
        }

        .logo_container {

            img {
                object-fit: contain;
                height: 50%;
            }
        }

        .links_container {

            ul {
                list-style: none;
                display: flex;

                li {
                    border-right: 3px solid $purple;

                    a {
                        margin: 0 1vw;
                        text-decoration: none;
                        color: black;
                        padding: 0 1em;
                    }

                    &:last-child {
                        border: none;
                    }

                }
            }

        }

        .login_button_container {
            padding: 0 1em;

            button {
                background-image: linear-gradient(38deg, #5e1bfa, $light_purple);
                color: rgb(224, 217, 175);
                min-width: 7.5vw;
                padding: .5em 1em;
                font-size: 1em;
                border-radius: $light_radius;
                font-weight: 600;
                border: none;
            }
        }
    }

    section.header {
        height: 82.5vh;
        display: grid;
        grid-template-columns: 5vw 1fr 1fr 5vw;
        grid-template-rows: 10% 10% 1fr 10% 10%;

        button {
            border-radius: $strong_radius/1.1;
            padding: $p1/2 $p1;
            border: none;
        }

        .content_section {
            padding: $p3;
            grid-column: 2/3;
            grid-row: 2/5;
            display: flex;
            justify-content: space-between;
            flex-direction: column;


            &>button:first-of-type {
                width: 50%;
                background-color: lighten($light_purple, 10%);
                color: rgb(255, 233, 191);
                text-transform: uppercase;
            }

            h1 {
                font-size: $font_lg/1.33;
                font-weight: 500;
                text-transform: capitalize;

                span {
                    display: block;
                    font-weight: 600;
                    font-size: $font_lg / 1.5;
                    color: $light_purple;
                }
            }

            p {
                font-size: $font_lg / 3.33;
                line-height: 2em;
            }

            .btn_call_to_action_container {
                display: flex;
                justify-content: space-around;

                button {
                    padding: $p1/1.25 $p1;
                    width: 40%;
                    font-weight: 600;

                    &:first-of-type {
                        border: 2px solid $purple;
                        background-color: transparent;
                    }

                    &:nth-of-type(2) {
                        background-color: $purple;
                        color: rgb(255, 232, 187);
                    }
                }
            }
        }

        .image_section {
            grid-column: 3/4;
            grid-row: 1/6;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            background-image: url("../Images/header_background.jpg");
            background-size: cover;

            img {
                height: 90%;
                filter: drop-shadow(-2.5px -5px rgb(2, 10, 80));
            }
        }
    }
}

// SECTION SERVICES

section.services {
    min-height: 50vh;
    text-align: center;
    position: relative;
    padding: $p1 0;
    background-color: $blanc_casse;

    h1 {
        font-size: $font_lg;
        margin: $m1;
    }

    hr {
        height: 2px;
        width: 10%;
        background-image: linear-gradient(35deg, #bb9eff, rgb(62, 62, 255));
        position: absolute;
        border: none;

        &:first-of-type {
            right: 48.5%;
            top: 23%;
        }

        &:nth-of-type(2) {
            left: 48.5%;
            top: 26%;
        }
    }

    &>p:first-of-type {
        margin: $m1/1.5 auto $m3;
        width: 40%;
        text-align: center;
        font-size: $font_lg / 2.75;
        font-weight: 500;
    }

    .card_container {

        display: grid;
        grid-template-columns: 5vw repeat(3, 1fr) 5vw;
        column-gap: $m1;

        .card {
            border-radius: $light_radius;
            padding: $p1 $p1;
            margin: 1vh 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            box-shadow: 1px 1px 5px 1px lightgray;
            transition: all .25s linear;
            background-color: white;
            min-height: 40vh;
            max-height: 45vh;

            &:hover {
                transform: scale(1.05);
            }

            &:hover h2,
            &:hover a {
                color: $purple;
            }

            // To place the first card element (the others follows the page flow that's why we don't specify the grid column for the 2nd and 3rd card)
            &:first-of-type {
                grid-column: 2/3;
            }

            h2 {
                margin: $m1 0 $m1/5;
            }

            p {
                text-align: left;
                margin: $m1/2 0 $m2;
                font-size: $font_lg / 3.33;
                font-weight: 400;
            }

            a {
                text-decoration: none;
                font-weight: 500;

                i {
                    font-size: $font_lg / 4;
                }
            }

        }
    }
}


// SECTION USERS
section.users {
    padding: $p2 0;
    max-height: 70vh;
    display: grid;
    grid-template-columns: 10vw 30vw 10vw 40vw 1fr;

    // Image container
    .section_users_image_container {
        grid-column: 2/3;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &>img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: $light_radius;
        }


        // div that contains pictures of some users

        .users_profiles_with_pictures {
            background: $purple;
            padding: $p1;
            border-radius: $light_radius;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            right: -25%;
            top: 45%;
            width: 15vw;

            .pictures_container {
                display: flex;
                margin: $m1 0;

                .badge {
                    background-color: white;
                    height: 65px;
                    width: 65px;
                    border-radius: 50%;
                    box-shadow: 1px 1px 5px 1px rgba(211, 211, 211, 0.301);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;


                    &:nth-of-type(1) {
                        transform: translateX(40%);
                        z-index: 3;
                    }

                    &:nth-of-type(2) {
                        transform: translateX(20%);
                        z-index: 2;
                    }

                    &:nth-of-type(3) {
                        transform: translateX(0%);
                        z-index: 1;
                    }

                    &:nth-of-type(4) {
                        transform: translateX(-40%);
                    }
                }

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: top;
                }
            }

            h3 {
                color: white;
            }

        }
    }

    // Text containet
    .sections_users_text_container {
        grid-column: 4/5;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &>* {
            margin: $m1/1.5 0;
        }

        span {
            color: white;
            background: linear-gradient(45deg, $purple, $light_purple);
            border-radius: $medium_radius * 1.15;
            padding: $p1 / 3 $p1/4;
            width: 12.5%;
            text-align: center;
            font-size: $font_lg / 4;
        }

        h2 {}

        p {}

        a {
            text-decoration: none;
            color: white;
            background: linear-gradient(65deg, $darked_purple, $purple);
            border-radius: $strong_radius;
            text-align: center;
            min-width: 15%;
            width: 20%;
            padding: $p1/2.25 $p1/1.25;
            font-weight: 300;
            font-size: $font_lg / 3.33;

        }
    }
}


// SECTION CLIENTS SAYS
section.clients_feedback {
    background-color: $blanc_casse;
    padding: $p1 0 $p3*2;

    h1 {
        text-align: center;
        margin: $m3 auto;
        position: relative;
        font-size: $font_lg;

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 10vw;
            height: 2px;
            background-image: linear-gradient(35deg, #bb9eff, #3e3eff);
        }

        &::before {
            bottom: -50%;
            right: 50%;
            transform: translateX(25%);
        }

        &::after {
            bottom: -100%;
            left: 50%;
            transform: translateX(-25%);
        }
    }


    &>p {
        margin: $m1/1.5 auto $m3;
        width: 60%;
        text-align: center;
        font-size: $font_lg / 2.75;
        font-weight: 400;
        line-height: 3.33vh;
    }


    .container_clients_returns {
        width: 90vw;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 2vw 1fr;
        column-gap: 1vw;

        div.clients_returns {

            border: 1px solid black;
            border-radius: $medium_radius / 1.25;
            min-height: 20vh;
            place-items: center;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 1vw;
            padding: 0 $p1/1.5 0 0;

            &:first-of-type {
                grid-column: 1/2;
            }

            &:nth-of-type(2) {
                grid-column: 3/4;
            }

            .clients_profile {

                padding: $p1 $p1 $p1 0;
                position: relative;

                .img_container {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;

                    img {
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 1px;
                    background-color: black;
                    right: 0;
                    top: 0;

                }
            }

            // description of the clients
            p {
                grid-column: 2/4;
                line-height: 3.5vh;
                font-size: $font_lg / 3;
            }

        }
    }

}

// SECTION STATS
section.stats {
    height: 60vh;
    background-image: url("../Images/contact_background.jpg");
    background-size: cover;
    background-position: center 0%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    h1 {
        color: white;
        font-size: $font_lg / 1.25;
        text-align: center;

        span {
            display: block;
        }
    }
}

// SECTION PRICING
section.pricing {
    background-color: $blanc_casse;
    padding: $p1 0;

    &>h1 {
        text-align: center;
        margin: $m2 auto;
        position: relative;
        font-size: $font_lg;

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 10vw;
            height: 2px;
            background-image: linear-gradient(35deg, #bb9eff, #3e3eff);
        }

        &::before {
            bottom: -50%;
            right: 50%;
            transform: translateX(25%);
        }

        &::after {
            bottom: -100%;
            left: 50%;
            transform: translateX(-25%);
        }
    }

    &>p {
        margin: $m1/1.5 auto $m3;
        width: 60%;
        text-align: center;
        font-size: $font_lg / 2.75;
        font-weight: 500;
        line-height: 3.33vh;
    }

    div.pricing_cards_container {
        width: 80%;
        margin: $m3 *3 auto $m3;
        display: flex;
        justify-content: space-around;
        min-height: 25vh;
        max-height: 75vh;

        // first card (card 1) specific styles
        .card_1 {
            border: 1px solid black;

            button {
                background-color: $light_purple;
                color: white;
            }

            table tr:nth-of-type(3),
            table tr:nth-of-type(4) {
                opacity: .15 !important;
            }
        }

        // second card (card 2) specific styles
        .card_2 {
            background-color: $purple;

            .circle {
                background-image: linear-gradient(to right, transparent 50%, white 50%);
            }

            &>*:not(button) {
                color: white;
            }

            button {
                color: $purple;
            }

            table tr td {
                border-bottom: 1px solid white !important;
            }

            table tr:nth-of-type(4) {
                opacity: .15;
            }

        }

        // second card (card 2) specific styles
        .card_3 {
            border: 1px solid black;

            .circle {
                background-color: #fff;
            }

            button {
                background-color: $light_purple;
                color: white;
            }
        }


        .pricing_cards {
            position: relative;
            border-radius: $medium_radius;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 25%;
            min-height: 55vh;
            padding: $p2;


            .icon_container {
                height: 60px;
                width: 60px;
                position: absolute;
                top: 0%;
                transform: translateY(-50%);
                border-radius: $light_radius;
                background-color: $light_purple;
                display: flex;
                justify-content: center;
                align-items: center;

                .circle {
                    height: 65%;
                    width: 65%;
                    border: 1px solid white;
                    border-radius: $strong_radius;
                }
            }

            h1 {
                font-size: $font_lg / 1.5;
                margin-top: $m1 / 1.25;

                span {
                    display: block;
                    font-size: $font_lg / 2;
                    text-align: center;

                    sup {
                        font-size: $font_lg / 10;
                    }
                }
            }

            &>p {
                font-weight: 600;
                text-transform: capitalize;
                margin: $m1 0;
            }

            button {
                width: 100%;
                border-radius: $strong_radius;
                border: none;
                padding: $p1 / 2.5;
                font-size: $font_lg / 2.5;
            }

            table {
                width: 85%;

                tr {
                    td {
                        border-bottom: 1px solid black;
                        padding: $p1/1.5 0;
                        text-transform: capitalize;
                        word-spacing: .15vw;
                        font-weight: 500;

                        i {
                            font-size: $font_lg / 4;
                            margin: 0 .5vw;
                            color: $purple;
                        }
                    }
                }
            }
        }
    }
}

// SECTION PARTNERS
section.partners {
    height: 33vh;

    .container {
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        i {
            font-size: $font_xl;
        }
    }
}

// SECTION CONTACT FORM
section.contact{
    min-height: 70vh;
    background-image: url("../Images/contact_background.jpg");
    background-size: cover;
    background-position: center 30%;
    padding: $p1;

    &>h1 {
        text-align: center;
        margin: $m1 auto $m2;
        position: relative;
        font-size: $font_lg;
        text-transform: capitalize;
        color: white;

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 7.5vw;
            height: 2px;
            background-color: white;
        }

        &::before {
            bottom: -25%;
            right: 50%;
            transform: translateX(25%);
        }

        &::after {
            bottom: -50%;
            left: 50%;
            transform: translateX(-25%);
        }
    }

    &>p {
        margin: $m1/1.5 auto $m3;
        width: 60%;
        text-align: center;
        font-size: $font_lg / 2.75;
        font-weight: 500;
        line-height: 3.33vh;
        color: white;

        &::first-letter{
            text-transform: uppercase;
        }
    }

    form{
        width: 80%;
        margin: $m1 auto;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 2vw;
        min-height: 40vh;

        // styles that both input fields and textarea share (to avoid repetition) 
        .inputs_container input, .textarea_container textarea{
            border:2px solid whitesmoke;
            background-color: transparent;
            color: white;
            width: 100%;
            transition: all .2s linear;
            opacity: 0.6;



            &::placeholder{
                text-transform: capitalize;
                color: white;
            }


            &:focus{
                outline: none;
                transform: scale(1.033);
                opacity: 1;
            }
        }

        .inputs_container{
            grid-column: 1/2;
            padding: $p1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            input{
                padding: $p1 / 1.25;
                border-radius: $light_radius * 1.5;
                margin-bottom: $m1;


                &[type="submit"]{
                    width: 50% !important;
                    background-color: #fff;
                    text-transform: capitalize;
                    font-weight: 600;
                    font-size:$font_lg / 3.33;
                    color: $light_purple;
                    padding: $p1 0;
                    // the button have to be visible all the time, not like the input (type texts)
                    opacity: 1;
                    // animation call on hover
                    outline: 1px solid transparent;

                    &:hover{
                        animation: button_outline .99s alternate linear infinite;
                    }

                }

            }
        }
        
        .textarea_container{
            grid-column: 2/4;
            padding: $p1;
            
            textarea{
                height: 100%;
                padding: $p1 $p2;
                border-radius: $medium_radius;
                font-size: $font_lg / 3;
            }
        }
    }
}